include requirements-dev.txt
recursive-include fixtures *.png *.jpg *.md
recursive-include scripts *.py
recursive-include tests *.py
recursive-include docs *.md
recursive-include results *.json tests.log
